html, .body{
    margin: 100;
    padding: 100;
}

.body{
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: rgba(251, 17, 251, 0.362);
}

title, h1{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 100;
}


.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 200px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(228, 53, 53, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;

}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px yellowgreen
}

.principal {
    font-size: 12px;
    height: 300px;
}

img{
    width: 100px;
    height: 100px;
}

