html, .body{
    margin: 100;
    padding: 100;
}

.body{
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-image: url('../img/fondo.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    text-align: center;
    font-size: 40px;
    background-color: rgb(22, 22, 19);
    color: #f2f2f2;
    margin-top: 0px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}


.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card{
    width: 400px;
    height: 550px; /* comentario pruebaa*/
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(228, 53, 53, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    align-items: center;
}

.card:hover{
    transform: translateY(-15px);
    color: violet;
    box-shadow: 0 12px 16px rgb(31, 31, 31.0.3);
}
.card p{
    margin: 0;
    margin-top: auto;
}
.principal {
    font-size: 12px;
    height: 300px;
}
img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.card button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    margin-top: auto;
    width: 100%;
}

.productNotFound{
    background-color: #fff;
    height: 100px;
    border-radius: 20px;
    margin: 50px 0;
    padding: 0 30px;
}
.productNotFound h1{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: auto;
    line-height: 100px;    
}