

.body{
    background-color: rgb(24, 26, 27);
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-image: url('../img/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    text-align: center;
    font-size: 40px;
    background-color: rgb(22, 22, 19);
    color: #f2f2f2;
    margin-top: 0px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

/*
.container{  
    width: 460px;
    padding: 20px;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);   
} 
*/

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.card{
    width: 400px;
    height: 355px; /* comentario pruebaa*/
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(228, 53, 53, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    align-items: center;
}

.card:hover{
    transform: translateY(-15px);
    color: #CD5C5C	;
    box-shadow: 0 12px 16px rgb(31, 31, 31.0.3);
}
.card p{
    margin: 0;
    margin-top: auto;
}
.principal {
    font-size: 12px;
    height: 300px;
}
img{
    width: 180px;
    height: auto;
    object-fit: contain;
}



.card button{
    font-size: 16px;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    background: rgb(84, 139, 2147);
    background: linear-gradient(
        142deg,
        rgba(84,139,247,1) 0%,
        rgba(173, 83, 228, 1) 100%
    );
}
/*
.card button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    margin-top: auto;
    width: 100%;
}*/

.detail_product{
    font-size: 16px;
    padding: 10px;
    margin-top: 8px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    background: rgb(84, 139, 2147);
    background: linear-gradient(
        142deg,
        rgba(84,139,247,1) 0%,
        rgba(173, 83, 228, 1) 100%
    );
}

.detail_product:hover{
    color: rgb(0, 195, 255);
    text-decoration: underline;
}
.productNotFound{
    background-color: #fff;
    height: 100px;
    border-radius: 20px;
    margin: 50px 0;
    padding: 0 30px;
}
.productNotFound h1{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: auto;
    line-height: 100px;    
}


























@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100&display=swap');

.container_modal_products_details{
    font-family: 'Abel', sans-serif;
    visibility: hidden;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 99;
    width: 100%;
    height: 120vh;
    background-color: rgba(0, 0, 0, .8);
    opacity: .0;
    transition: all 0.3s;
}
.activecontainerModal{
    visibility: visible;
    opacity: 1;
}
.container_details{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_details {
    position: relative;
	display: flex;
	height: 500px;
    max-width: 90%;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.30);
}
.card_details .Hicon-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}
.card__image {
    height: 500px;
    background-color: #fff;
}

.card__image img {
	object-fit: contain;
	height: 100%;
}

.card__content {
	width: 350px;
	background: #FFF;
    padding: 30px 20px;
}

.card__content__tag {
	display: flex;
	gap: 1rem;
}

.card__content__tag span {
	background: #E9E9E9;
    font-size: 15px;
	border-radius: 8px;
    padding: 3px 5px;
}

.card__content__title {
	margin: 10px 0;
    font-size: 20px;
	font-weight: 700;
    height: 100px;
    overflow: scroll;
}

.card__content__info {
	text-align: justify;
    font-size: 17px;
	line-height: 1.4;
	color: #333;
    height: 180px;
    margin: 0;
    overflow: scroll;
}

.card__content__config {
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin-bottom: 10px;
}

.card__content__config .price {
    font-size: 34px;
}

.card__content__config .prev_price {
    font-size: 16px;
	text-decoration: line-through;
	font-weight: 700;
	margin-left: 0.25rem;
	color: #dc2626;
}

.card__content__action{
    user-select: none;
    cursor: pointer;
    border: none;
    letter-spacing: .6px;
	background: #232343;
	color: #FFF;
    padding: 5px 10px;
	text-transform: uppercase;
	text-align: center;
    font-size: 17px;
}
@media screen and (max-width: 840px) {
    .card_details {
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        height: max-content;
    }
    .card__image{
        height: 200px;
        width: 100%;
        text-align: center;
    }
    .card__image img{
        width: 100%;
    }
    .card__content{
        width: 100%;
        padding: 30px 20px;
    }
}