.compras{
    padding: 30px 0;
    min-height: 50vh;
    
}
.compras h1{
    font-size: 22px;
    text-align: left;
    width: 95%;
    margin: 0 auto;
}
.compras hr{
    width: 95%;
    margin: .5rem auto .7rem;
}
.record_compras{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_compra{
    width: 100%;
    height: 150px;
    border: solid 1px rgb(229, 229, 229);
    border-radius: 5px;
    margin: 5px 0;
}
.date_compra{
    background-color: rgb(240, 240, 240);
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.date_compra p{
    font-size: 14px;
    margin: 0;
}
.info_compra{
    height: 120px;
    padding: 10px;
    position: relative;
}
.info_compra p{
    font-size: 16px;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info_compra button{
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    background-color: rgb(33, 129, 255);
    color: #fff;
    position: absolute;
    bottom: 10px;
}


.container_detail{
    width: 100%;
    height: max-content;
    border: solid 1px rgb(229, 229, 229);
    border-radius: 5px;
    margin: 5px 0;
}
.date_detail p{
    font-size: 14px;
    margin: 0;
}
.info_detail{
    height: max-content;
    padding: 10px;
    position: relative;
}
.info_detail p{
    font-size: 16px;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}







.container_modal_details{
    position: fixed;
    inset: 0 0 0 0;
    z-index: 99;
    width: 100%;
    height: 120vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    opacity: .0;
    transition: all 0.3s;
}
.activecontainerModal{
    display: block;
    opacity: 1;
}
.container_details{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_details{
    position: relative;
    background-color: rgb(245, 245, 245);
    width: 95%;
    height: max-content;
    padding: 5px 10px;
    z-index: 100;
    opacity: .0;
}
.activeModal{
    opacity: 1;
}
.modal_details h6{
    font-size: 24px;
    text-align: center;
}
.modal_details svg{
    position: absolute;
    right: 10px;
}
.modal_details p{
    margin: 0;
    margin-bottom: 5px;
    width: 95%;
}

.Hicon_close_details{
    width: 25px;
    height: 25px;
    margin: auto 0;
}

.Hicon_close_details:hover{
    stroke: red;
    cursor: pointer;
}

.not_found_details{
    background-color: #fff;
    height: 100px;
    border-radius: 20px;
    margin: 50px 0;
    padding: 0 30px;
}
.not_found_details h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: auto;
    line-height: 100px;    
}

.modal_container_compra{
    width: 100%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
}
.modal_info_compra{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0;
}
.modal_info_compra p{
    width: max-content;
    margin: 0 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}