:root{
    --facebook: #3b5999;
    --instagram:#e4405f;
    --twitter: #55acee;
}

.Hnav{
    height: 80px;
    background-color: rgb(251, 251, 251);
    display: flex;
}
.Hnav .navlogo img{
    height: 80px;
}
.HnavDiv{
    height: 80px;
    margin: auto;
}
.HnavList{
    height: 100%;
    width: 100%;
    display: flex;
}
.HnavItem{
    height: 100%;
    padding-right: 40px;
    margin: 0;
    list-style: none;
    padding-top: 10px;
}
.HnavLink{
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.Hdropdown{
    display: none;
    text-align: left;
    position: absolute;
    top: 75px;
    width: 150px;
    list-style: none;
    background-color: rgb(247, 247, 247);
    border-radius: 0 3% 3% 3%;
    padding-left: 10px;
}
.HdropdowsItem{
    padding-top: 5px;
}
.HdropLink{
    
    text-decoration: none;
    color: black;
}
.HnavItem:hover .HnavLink{
    color: #3b5999;
}
.HnavItem:hover > ul{
    display: block;
}
.HdropdowsItem:hover .HdropLink{
    color: #3b5999;
}
.HdropdowsItem:hover > ul{
    display: block;
}
.Hicons{
    width: 190px;
    margin: auto 0;
    padding-top: 15px;
}
.HiconList:hover a{
    filter: blur(2px)
}
.HiconList{
    display: flex;
    padding: 0 10px 0 0;
}
.Hicon{
    margin: auto;
    list-style: none;
    text-align: center;
    transition: 0.2s;
}
.Hicon a{
    width: 50px;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    color: black;
    line-height: 50px;
}
.Hicon a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
    color: #fff;
}
.Hfacebook:hover{
    background: var(--facebook);
}
.Hinstagram:hover{
    background: var(--instagram);
}
.Htwitter:hover{
    background: var(--twitter);
}

.Huser{
    width: 50px;
}
.HuserList{
    display: block;
    margin: auto;
    list-style: none;
    padding: 0;
}
.HuserList a{
    font-size: 25px;
    color: #3b5999;
}

.Hcart{
    display: block;
    width: 60px;
    margin: auto 0;
}
.HcartList{
    padding: 0;
    margin: auto;
    list-style: none;
    width: 30px;
    height: 30px;
    text-align: center;
}
.Hbuy-a{
    font-size: 25px;
    width: 48px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    color: #000;
    line-height: 45px;
    
}

.Hcount-products{
    
    background-color: #000;
    color: #fff;
    padding: 9px;
    margin-top: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#Hcontador-productos{
    font-size: 12px;
}















.Hcontainer-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.Hcart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.Hinfo-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.Htitulo-producto-carrito{
    font-size: 20px;
}

.Hprecio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.Hcantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.Hicon-close{
    width: 25px;
    height: 25px;
}

.Hicon-close:hover{
    stroke: red;
    cursor: pointer;
}

.Hcart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.Hcart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.Htotal-pagar{
    font-size: 20px;
    font-weight: 900;
}

.Hhidden-cart{
    display: none;
}

.Hcart-empty{
    padding: 20px 0 0 0;
    text-align: center;
}
.Hbtn-clear-all{
    border: none;
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
.Hbtn-clear-all:hover{
    background-color: #515151;
    transform: scale(1.03);
    border-radius: 10px;
}