:root{
    --facebook: #3b5999;
    --instagram:#e4405f;
    --twitter: #55acee;
}

.nav{
    height: 80px;
    background-color: rgb(251, 251, 251);
    display: flex;
}
.nav .navlogo img{
    height: 80px;
}
.navDiv{
    height: 80px;
    margin: auto;
}
.navList{
    height: 100%;
    width: 100%;
    display: flex;
}
.navItem{
    height: 100%;
    padding-right: 40px;
    margin: 0;
    list-style: none;
    padding-top: 10px;
}
.navLink{
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.dropdown{
    display: none;
    text-align: left;
    position: absolute;
    top: 75px;
    width: 150px;
    list-style: none;
    background-color: rgb(247, 247, 247);
    border-radius: 0 3% 3% 3%;
    padding-left: 10px;
}
.dropdowsItem{
    padding-top: 5px;
}
.dropLink{
    
    text-decoration: none;
    color: black;
}
.navItem:hover .navLink{
    color: #3b5999;
}
.navItem:hover > ul{
    display: block;
}
.dropdowsItem:hover .dropLink{
    color: #3b5999;
}
.dropdowsItem:hover > ul{
    display: block;
}
.icons{
    width: 190px;
    margin: auto 0;
    padding-top: 15px;
}
.iconList:hover a{
    filter: blur(2px)
}
.iconList{
    display: flex;
    padding: 0 10px 0 0;
}
.icon{
    margin: auto;
    list-style: none;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: 0.2s;
}
.icon a{
    border-radius: 50%;
    display: block;
    background: rgb(251, 251, 251);
    text-decoration: none;
    color: black;
    line-height: 50px;
}
.icon a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
    color: #fff;
}
.facebook:hover{
    background: var(--facebook);
}
.instagram:hover{
    background: var(--instagram);
}
.twitter:hover{
    background: var(--twitter);
}

.user{
    width: 50px;
}
.userList{
    display: block;
    margin: auto;
    list-style: none;
    padding: 0;
}
.userList a{
    font-size: 25px;
    color: #3b5999;
}

.cart{
    padding-right: 10px;
    width: 50px;
    padding-bottom: 7px;
    margin: auto 0;
}
.cartList{
    padding: 0;
    margin: auto;
    list-style: none;
    width: 45px;
    height: 45px;
    text-align: center;
}
.buy-a{
    border-radius: 50%;
    display: block;
    background: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 45px;
}