.signUp{
    padding: 30px 0;
    background-color: rgb(232, 231, 255);
}
.containerSignUp{
    width: 400px;
    margin: auto;
    background-color: #fff;
    text-align: center;
    border-radius: 15px;
}
.containerSignUp .img{
    background-image: url('../img/SignUp.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 85%;
    height: 300px;
    margin: auto;
}
.containerSignUp h3{
    font-weight: bold;
}
.containerSignUp h6{
    text-align: left;
    margin: 0 auto 5px;
    font-size: 18px;
    width: 85%;
}
.containerSignUp input[type="email"], .containerSignUp input[type="password"]{
    display: block;
    background-color: rgb(232, 231, 255);
    padding: 10px 10px;
    border-radius: 5px;
    border: solid rgb(211, 211, 217) 1px;
    margin: 0 auto 10px;
    width: 85%;
    outline: none;
    font-family: 'Poppins';
    font-size: 18px;
}
.containerSignUp hr{
    width: 90%;
    margin: 20px auto;
    border: solid black 1px;
    color: black;
}
.containerSignUp input[type="button"]{
    background-color: rgb(40, 40, 163);
    width: 85%;
    padding: 10px 0;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Open sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.bars{
    width: 85%;
    margin: 8px auto;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: #dfe1f0;
}
.bars div{
    height: 6px;
    border-radius: 3px;
    transition: .4s;
    width: 0%;
}
.bars.weak div{
    background-color: #e24c71;
    width: 33.33%;
}
.bars.medium div{
    background-color: #f39845;
    width: 66.66%;
}
.bars.strong div{
    background-color: #57c558;
    width: 100%;
}
.strength{
    height: 30px;
    text-align: left;
    text-transform: capitalize;
    color: #868b94;
    font-size: 18px;
    width: 85%;
    margin: auto;
}
@media screen and (max-width: 440px) {
    .containerSignUp{
        width: auto;
        margin: 0 5px;
    }
    .containerSignUp .img{
        
    }
}